*{
    margin: 0;
    padding: 0;
}
header{
    z-index: 10000;
    position: fixed;
    display: flex;
    align-items: center;
    background: linear-gradient(90deg, black, white);
    width: 100vw;
    height: 100px;
}
@media (max-width:600px) {
    header{
        height: 50px;
    }
    .chapasosiy{  
    display: flex;
    justify-content: flex-start;
    align-items: center;
    }
    .chapasosiy input{
        height: 2vw;
    width: 13vw;
    }
    
}
@media (max-width:200px){
    header{
        height: 15px;
    }
    .chapasosiy input{
        height: 200vw;
    width: 13vw;
    }
}
.chapasosiy{
    display: flex;
    justify-content: flex-start;
    width: 50vw;
    height: 100px;
    align-items: center;
}
.chapasosiy img{
    width: 5vw;
    border-radius: 50%;
    margin-left:3vw;
}
::placeholder{
    color: white;
    font-size: 1.1vw;
    padding: 1vw 0.2vw;
}
.chapasosiy h1{
    color: white;
    letter-spacing: 0.5vw;
    font-size: 4vw;
    margin: 0 1.2vw;
    font-family: 'Be Vietnam Pro', sans-serif;
}
.chapasosiy input{
    font-size: 1.1vw;
    border-style: none;
    border-radius: 5px;
    height: 2vw;
    width: 13vw;
    color: white;
    background-color: rgb(133, 131, 131);
}
.ong{
    width: 50vw;
    height: 100px;
    display: flex;
}
ul{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
}
.ong ul li img{
    width: 5vw;
    border-radius:50% ;
}
.ong ul li{
    margin: 0 1.1vw;
}
.ong ul li a{
    color: white;
    text-decoration: none;
    font-size: 2vw;
}
.ong ul li a:hover{
    color: rgb(90, 90, 89);
    text-shadow: 1px 1px 3px black;
}
main .img{
    position: fixed;
    z-index: 1;
    width: 100vw;
}
main{
    position: relative;
}
.sport{
    height: 49vw;
    background: rgba(0, 0, 0, 0.7);
    top: 23vh;
    z-index: 2;
    position: absolute;
}
.sport h1, .hayot h1{
    font-size: 5vw;
    color: white;
    text-align: center;
}
.sporta{
    color: white;
    z-index: 2;
    display: flex;
}
.sporta  img{
    margin: 0 1.2vw;
    width: 25vw;
}
.sporta p{
    font-size: 1.2vw;
    margin: 0 1.2vw;
    text-align: justify;
}
.sport button{
    margin: 1vw;
    position: absolute;
    font-size: 1.2vw;
   height: 2vw; 
   width: 10vw;
   color: white;
   background-color:rgba(0, 0, 0, 0.4) ;
}
.sport button:hover{
    color:rgba(0, 0, 0, 0.4);
    background-color: white;
}

.motivatsiya{
    height: 49vw;
    background: rgba(0, 0, 0, 0.7);
    top: 3vh;
    z-index: 2;
    top: 140vh;
    position: absolute;
    position: absolute;
    z-index: 4;
}
.motivatsiya1, .vaynlar1, .hayot1{
    display: flex;
}
.motivatsiya1 img, .vaynlar1 img, .hayot1 img{
    margin: 0 1.2vw;
    width: 25vw;
}
.motivatsiya h1, .vaynlar h1, .hayot1 h1{
    font-size: 5vw;
    color: white;
    text-align: center;
}
.motivatsiya1 p, .vaynlar1 p, .hayot1 p{
    font-size: 1.2vw;
    margin: 0 1.2vw;
    color: white;
    text-align: justify;
}
.motivatsiya button, .vaynlar button, .hayot button{
    margin: 1vw;
    position: absolute;
    font-size: 1.2vw;
   height: 2vw; 
   width: 10vw;
   color: white;
   background-color:rgba(0, 0, 0, 0.4) ;
}
.motivatsiya button:hover{
    color:rgba(0, 0, 0, 0.4);
    background-color: white;
}
.vaynlar button:hover{
    color:rgba(0, 0, 0, 0.4);
    background-color: white;
}
.hayot button:hover{
    color:rgba(0, 0, 0, 0.4);
    background-color: white;
}
.vaynlar{
    height: 49vw;
    background: rgba(0, 0, 0, 0.7);
    top: 100px;
    position: absolute;
    margin-top:1800px ;
    position: absolute;
    z-index: 4;
}
.hayot{
    height: 49vw;
    background: rgba(0, 0, 0, 0.7);
    top: 100px;
    z-index: 2;
    position: absolute;
    margin-top:2700px ;
    position: absolute;
    z-index: 4;
}
